# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# Local Storage & Fallback
.studio_media/
.studio_local_data.json
.studio_users.json

# Vercel & TS
.vercel
*.tsbuildinfo
next-env.d.ts
